* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  padding: 24px 40px 16px 40px;
  background: #24528d;
  border-bottom: 2px solid #224574;
}

ul {
  display: flex;
  gap: 14px;
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: underline;
  color: lightslategrey;
}

/* END OF HEADER */

/* MAIN-HEADER 1st section */
.main-header {
  background: #24528d;
  height: 500px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  gap: 50px;
  padding: 24px;
}

.header-left {
  color: white;
  flex: 0 1 500px;
}
.header-left p {
  margin: 4px;
}

.header-left p:nth-child(3) {
  text-align: center;
}

.header-left .contact-me {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.header-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 400px;
}

.header-right .portfolio-image {
  padding: auto;
  height: 200px;
  width: 200px;
  background-image: url("./images/dmitry-vechorko-CKkXOUtXyi4-unsplash.jpg");
  background-size: cover;
  background-color: #fff;
  mix-blend-mode: color-burn;
}

/* END OF MAIN HEADER 1st section */

/* FEATURE PROJECTs  */
.project {
  padding: 34px;
  margin-bottom: 34px;
}

.project h2 {
  text-align: center;
  margin: 20px;
}

.project .features {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 16px;
}

.card-holder {
  flex: 0 0 200px;
}

.features .card {
  width: 140px;
  height: 140px;

  border: 2px black solid;
}

.card-text {
  margin-top: 6px;
  padding: 2px;
  width: 140px;
}

/* END OF  FEATURE PROJECTs section  */

/* START OF CONTACT ME SECTION (FORM) */
.section-contactme {
  height: 420px;
  background: #e9e7e7;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-weight: 100px;
}

.section-contactme form input,
.section-contactme form textarea {
  border-radius: 4px;
  border: 1px #224574 solid;
  padding: 3px 4px;
  box-shadow: 5px 3px #888888a6;
  margin: 2px;
}

.section-contactme form input:focus,
.section-contactme form textarea:focus {
  outline: none !important;
  transform: scaleX(1.1);
  transform-origin: left;
}
.section-contactme button {
  background: transparent;
  color: #224574;
  border: 1px #224574 solid;
  padding: 8px;
  border-radius: 12px;
  cursor: pointer;
}

/* END OF CONTACT ME SECTION (FORM) */

.footer {
  text-align: center;
  background: #224574;
  padding: 12px;
  color: #efefef;
}

h2 {
  text-transform: uppercase;
}
