* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  padding: 34px 34px 16px 34px;
  background: #24528d;
  border-bottom: 2px solid #224574;
}

ul {
  display: flex;
  gap: 14px;
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: underline;
  color: lightslategrey;
}

/* END OF HEADER */
