* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  padding: 34px 34px 16px 34px;
  background: #24528d;
  border-bottom: 2px solid #224574;
}

ul {
  display: flex;
  gap: 14px;
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: underline;
  color: lightslategrey;
}

/* END OF HEADER */

/* MAIN-HEADER 1st section */
.main-header {
  background: #24528d;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  gap: 50px;
  padding: 24px;
}

.header-left {
  color: white;
  flex: 0 1 500px;
}
.header-left p {
  margin: 4px;
}

.header-left p:nth-child(3) {
  text-align: center;
}

.header-left .contact-me {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.header-right {
  display: flex;
  align-items: center;
  flex: 0 0 400px;
}

.header-right .portfolio-image {
  height: 200px;
  background-color: #8d8b8b;
  padding: auto;
}

/* END OF MAIN HEADER 1st section */

/* FEATURE PROJECTs  */
.project {
  height: 400px;
  padding: 34px;
  margin-bottom: 34px;
}

.project h2 {
  text-align: center;
  margin: 20px;
}

.project .features {
  display: flex;
  justify-content: space-evenly;
  gap: 16px;
}

.features .card {
  height: 140px;
  width: 140px;
  border: 2px black solid;
}

.card-text {
  margin-top: 6px;
  padding: 2px;
  width: 140px;
}

/* END OF  FEATURE PROJECTs section  */
